@media (max-width: 978px) {

    header, main, footer {
      padding-left:0!important;
    }

    #background-home h3{
		font-size: 50px!important;
		text-align:left!important;
	}

}

header, main, footer {
  padding-left: 300px;
}

#background-home h3{
	color :#2BBBAD;
	font-weight: bolder;
	font-size: 100px;
	text-align:right;
}

.card-content{
	padding-top:5px!important;
	padding-bottom:5px!important;
}

#standing-table > thead > tr > th , #competition-table > thead > tr > th{
	text-align: center;
}

#standing-table > tbody > tr > td , #competition-table > tbody > tr > td{
	font-size:13px;
	text-align: center;
}

.preloader-wrapper {
	z-index: 9999;
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}